@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		height: 100%;
	}

	html {
	}

	body {
		background: url('/assets/background.jpg') fixed center center no-repeat;
		background-size: cover;
		font-family: 'Roboto', sans-serif;
		height: 100%;
	}
}
